.tableContainer{
    display: flex;
    justify-content: center;
}

.table{
    width: 90%;
}

.tableHeader{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
    gap: 1.2em;
    background: rgba(4, 4, 4, 0.673);
    color: #EEEEEE;
    padding: 20px 0;
    text-align: center;
    margin-top: 2em;
    position: sticky;
    top: 2em;
    z-index: 3;
}

.tableRow .tableCell:first-of-type{
    text-align: left;
    padding-left: 1em;
}

.tableRow{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
    gap: 1.2em;
    padding: 20px 0;
    text-align: center;
    transition: box-shadow .3s;
}

.tableRow:nth-of-type(odd) {
    background-color: #EEEEEE;;
}

.tableRow:nth-of-type(odd):hover {
    box-shadow: 0 0 11px rgba(231, 227, 12, 0.7);
    cursor: pointer;
}

.tableRow:last-of-type {
    margin-bottom: 3em;
}

.tableRow:hover {
    box-shadow: 0 0 11px rgb(231, 227, 12, 0.7);
    cursor: pointer;
    z-index: 1;
    position: relative;
}

.checkedIcon {
    color: #00FF00;
    font-size: larger;
}

.crossIcon {
    color: #FF4500;
    font-size: larger;
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(32, 32, 32, 0.4);
}

